textarea{
  min-height: 200px;
  max-height: 400px;
}

.img-none-label {
  font-size: 20px;
}

.img{
  width: 100%;
  max-width: 500px;
  height: auto;
}

.img-load{
  height: 50px;
  padding: 10px;
}
