textarea{
  min-height: 200px;
  max-height: 400px;
}

.img-none-label {
  font-size: 20px;
}

.img{
  width: 100%;
  max-width: 500px;
  height: auto;
}

.img-load{
  height: 50px;
  padding: 10px;
}

.alert{
  position: absolute;
  transform: translate(-50%, -88%);
  left: 50%;
  width: max-content;
  z-index: 10;
}

.error-offset{
  margin-top: 52px;
}

.disabled{
  opacity: 0.5;
  pointer-events: none;
}
